<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Configuration de la connexion -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">papa1997</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/tp_ndong</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Gestion de la session -->
        <property name="hibernate.hbm2ddl.auto">update</property>  <!-- Met à jour le schéma de la base de données -->
        <property name="hibernate.show_sql">true</property>         <!-- Affiche les requêtes SQL dans la console -->
        <property name="hibernate.format_sql">true</property>       <!-- Formate les requêtes SQL -->
        <property name="hibernate.use_sql_comments">true</property> <!-- Ajoute des commentaires SQL -->
        
        <mapping resource="database/Personne.hbm.xml"/>
        <mapping resource="database/Classe.hbm.xml"/>
        <mapping resource="database/Cours.hbm.xml"/>
        <mapping resource="database/Enseignant.hbm.xml"/>
        <mapping resource="database/Etudiant.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
